<ul id="signUpPage">
    <li>
    <h2>User Registration</h2>
    </li>
    <li>
        <input type="text" class="form-control form-control-dark" id="accountId" placeholder="Enter User id">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="password" maxlength="8" placeholder="Enter Password">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="repwd" maxlength="8" placeholder="Reenter Pasword">
    </li>
    <li>
        <input type="email" class="form-control form-control-dark" name="" id="userMailid" placeholder="Enter email id">
    </li>
    <li>
        <button class="btn btn-primary" onclick="getUserSignup()">Register</button>
        <button class="btn btn-secondary" onclick="loadPage('home')"> << Back To Home</button>
    </li>
    <li>
        <div class="msgBlock"></div>
      </li>
</ul>

  

